body {
  margin: 0;
  padding: 0;
  color: #FFF;
}
/* container {
  max-width: '100%' 
} */
.parent{
  background: url(../assets/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 630px;
  justify-content: center;
  align-items: center
}
.mainRow{
  display: flex;
  justify-content: center;
  align-items: center
}
.input-group-text {
  background-color: unset;
  border: unset;
  border-radius: unset;
  border-bottom: 2px solid #1A374D;
  color: #B1D0E0;
}
.form-control {
  background: unset;
  border: unset;
  border-bottom: 2px solid #1A374D;
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;;

}
.form-control:focus{
  border-bottom: 2px solid #1A374D;
  box-shadow: unset;
  outline: none;
  background: unset;
}
.btn-send{
  background: 'green';
  border-radius: '5px';
  padding: '10px 50px';
  border: 'green';
  color: '#fff';
  font-weight: 'bold';
}
/* .headerSearch{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers td:hover, #customers th:hover {
  border: 1px solid black;
  padding: 8px;
}

/* #customers tr:nth-child(even){} */

#customers tr:hover {background-color: #ddd; color: black;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
@media (max-width: 768px) {
  .parent{
    background: url(../assets/city.jpg);
    background-repeat: repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center
  }
  .mainRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
  }
  .firstCol{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .firsColPhone{
    display: flex;
    flex-direction: row!important;
  }
  .secCol{
    margin-bottom: 50px;
  }
}